@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap');

.FermeriMenu {
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 20vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.FermeriMenuItem {
    background-color: #7FCC03;
    width: 35%;
    height: 16.5vh;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 5vh;
}

.FermeriMenuImg {
    width: 100%;
    height: 75%;
    object-fit: cover;
}

.FermeriMenuProfileImgContainer {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.FermeriMenuProfileImg {
    width: 100%;
    height: 50%;
    object-fit: contain;
}

.FermeriMenuText {
    width: 100%;
    height: 25%;
    color: white;
    font-size: 1.7vh;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 780px){
    .FermeriMenuItem {
        background-color: #7FCC03;
        width: 35%;
        height: 20vh;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 5vh;
    }
}

@media screen and (min-width: 1000px){
    .FermeriMenuItem {
        background-color: #7FCC03;
        width: 35%;
        height: 25vh;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 5vh;
    }
}

@media screen and (min-width: 1200px){
    .FermeriMenu {
        width: 100%;
        margin-top: 20vh;
        margin-bottom: 20vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .FermeriMenuItem {
        background-color: #7FCC03;
        width: 18%;
        height: 25vh;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 5vh;
    }
}