@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap');

.FermeriProductsBox {
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 20vh;
}

.FermeriProductsInputBox {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.FermeriProductsTitle {
    width: 100%;
    text-align: center;
    color: #7FCC03;
    font-size: 2.5vh;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2vh;
}

.FermeriProductsProductName {
    width: 100%;
    height: 5vh;
    padding-left: 3%;
    font-size: 1.5vh;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    border: 2px solid #7FCC03;
    margin-bottom: 2vh;
}

.FermeriProductsLocationName {
    width: 100%;
    height: 5vh;
    padding-left: 3%;
    font-size: 1.5vh;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    border: 2px solid #7FCC03;
    margin-bottom: 2vh;
}

.FermeriProductsCheapExpeBox {
    width: 100%;
    height: 5vh;
    margin-bottom: 2vh;
}

.NewestButtonUnSelected {
    background-color: white;
    width: 47.5%;
    margin-right: 5%;
    height: 100%;
    border: 2px solid #7FCC03;
    border-radius: 5px;
    font-size: 1.5vh;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: grey;
}

.OldestButtonUnSelected {
    background-color: white;
    width: 47.5%;
    height: 100%;
    border: 2px solid #7FCC03;
    border-radius: 5px;
    font-size: 1.5vh;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: grey;
}

.NewestButtonSelected {
    background-color: white;
    width: 47.5%;
    margin-right: 5%;
    height: 100%;
    border: 2px solid #7FCC03;
    border-radius: 5px;
    font-size: 1.5vh;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #7FCC03;
}

.OldestButtonSelected {
    background-color: white;
    width: 47.5%;
    height: 100%;
    border: 2px solid #7FCC03;
    border-radius: 5px;
    font-size: 1.5vh;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #7FCC03;
}

.FermeriProductsSearchButton {
    background-color: white;
    position: relative;
    width: 100%;
    height: 5vh;
    font-size: 2vh;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #7FCC03;
    border-radius: 5px;
    border: 2px solid #7FCC03;
    margin-bottom: 5vh;
}

.FermeriProductsDisplayBox {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
}

.FermeriProductsNewButtonBox {
    height: 5vh;
    width: 100%;
    display: flex;
    float: left;
    margin-bottom: 2vh;
}

.FermeriProductsNewButton {
    background-color: white;
    width: 20%;
    height: 100%;
    color: #7FCC03;
    font-size: 2vh;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    border: 2px solid #7FCC03;
    border-radius: 5px;
    margin-left: 80%;
}

@media screen and (min-width: 700px){
    .FermeriProductsInputBox {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        max-width: 350px;
        display: flex;
        flex-direction: column;
    }

    .FermeriProductsDisplayBox {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        max-width: 550px;
        min-height: 10vh;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 1100px){
    .FermeriProductsInputBox {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        max-width: 250px;
        display: flex;
        flex-direction: column;
    }

    .FermeriProductsDisplayBox {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        max-width: 350px;
        min-height: 10vh;
        display: flex;
        flex-direction: column;
    }
}